<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
      <!--配置键值属性，可以在本xml中通过${key}使用-->
      <property name="LOG_HOME" value="c:/logs" />
      <property name="appName" value="log"/>

      <!--配置控制台输出规则-->
      <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
          <layout class="ch.qos.logback.classic.PatternLayout">
              <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %highlight(%-5level) %logger{50} - %boldBlue(%msg%n)</pattern>
          </layout>
      </appender>

      <!--配置日志文件输出-->
      <appender name="fileLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
          <!--配置滚动策略，每日滚动-->
          <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
              <fileNamePattern>${LOG_HOME}/${appName}-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
              <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                  <maxFileSize>100MB</maxFileSize>
              </timeBasedFileNamingAndTriggeringPolicy>
          </rollingPolicy>
          <!--配置输出这里与控制台输出配置有区别，用encoder标签-->
          <encoder>
              <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
          </encoder>
      </appender>

      <!--配置logger根级别,只有level属性，默认为debug-->
      <root level="info">
          <appender-ref ref="consoleLog"/>
      </root>
</configuration>